* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family:
    "Segoe UI",
    -apple-system,
    BlinkMacSystemFont,
    sans-serif;
  background: #f4f7f6;
  color: #333;
  padding: 15px;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
  width: 100%;
}

h1,
h2 {
  margin: 20px 0 10px 0;
}

.cards-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 16px;
  margin-bottom: 25px;
}

.card {
  background: #fff;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05);
  border-left: 5px solid #28a745;
}

.card-titulo {
  /* font-size: 12px; */
  font-size: 0.8rem;
  text-transform: uppercase;
  color: #7f8c8d;
  font-weight: bold;
}

.card-valor {
  /* font-size: 16px; */
  font-size: 1rem;
  font-weight: bold;
  color: #2c3e50;
  margin-top: 5px;
}

.grafico {
  background: #fff;
  padding: 16px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05);
  margin-bottom: 26px;
  height: 350px;
}

.tabela-container {
  width: 100%;
  overflow-x: auto;
  background: #fff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05);
  border-radius: 8px;
  margin-bottom: 30px;
}

table {
  width: 100%;
  border-collapse: collapse;
  min-width: 600px;
}

th,
td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #eee;
}

th {
  background-color: #2e7d32;
  color: white;
}

.btn-excluir {
  background-color: #dc3545;
  color: #fff;
  border: none;
  padding: 6px 12px;
  cursor: pointer;
  border-radius: 4px;
}

input {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 6px;
  margin-bottom: 20px;
}

@media (min-width: 600px) {
  .cards-container {
    grid-template-columns: repeat(2, 1fr);
  }
}
